@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

    :root {
        --main-bg-color: linear-gradient(to top, #feada6 0%, #f5efef 100%);
        --burger-bg-color: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
        --toast-bg-color: background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
        --pancake-bg-color: background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
        --box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
            6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
            12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
            22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
            41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
            100px 100px 80px rgba(0, 0, 0, 0.07);
        --text-shadow: 0px 1px 2px #13121260;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Dosis', sans-serif;
    }

    body {
        background-color: #efefef;
    }

    header {
        background-image: var(--main-bg-color);
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        box-shadow: var(--text-shadow);
        z-index: 100;
        }

    .logo {
        font-size: 3em;
        font-weight: 900;
        color: black;
        text-decoration: underline;
        text-shadow: var(--text-shadow);
    }

    .logo-color {
        color: #ec4b3d;
    }

    .nav-bar {
        display: flex;
        position: relative;
    }

    .nav-bar > a {
        text-decoration: none;
        color: black;
        font-size: 1.5em;
        font-weight: 600;
        text-shadow: var(--text-shadow);
        margin-left: 25px;
        transition: .2s;
    }

    .nav-bar>a:hover {
        scale: 1.1;
        color: #efefef;
    }

    .hero {
        position: relative;
        text-align: center;
        padding: 20px 0;
    }

    .hero > h2 {
        font-size: 3em;
        color: black;
        padding-top: 10px;
        text-shadow: var(--text-shadow);
    }

    .hero > p {
        font-size: 2em;
        padding-top: 10px;
    }

    .art-title {
        background-image: linear-gradient(to top, #efefef 0%, #f5efef 5%, #feada6 50%, #f5efef 95%, #efefef 100%);
        padding: 20px;
    
    }

    .art-title > h3 {
        position: relative;
        left: 10%;
        width: fit-content;
        color: black;
        font-size: 2em;
        font-weight: 600;
    }

    .sec-burger {
        border: 1px solid red;
        height: 450px;
        padding: 20px 0;
        display: flex;
        position: relative;
    }

    .burger {
        border: 1px solid red;
        display: flex;
        position: absolute;
        left: 10%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .burger > h4, .burger >p {
        padding: 10px 0;
    }

    .burger > h4 {
        font-size: 1.7em;
    }

    .burger > img {
        width: 400px;
        height: 300px;
        border-radius: 10px;
        box-shadow: var(--box-shadow);
    }

    .burger > p {
        font-size: 1.3em;
    }

    .burger > p > a {
        text-decoration: none;
        color: #ec4b3d;
    }

    .burger > h4, .burger >p {
        padding: 10px 0;
    }

    .burger > h4 {
        font-size: 1.7em;
    }

    .burger > img {
        width: 400px;
        height: 300px;
        border-radius: 10px;
        box-shadow: var(--box-shadow);
    }

    .burger > p {
        font-size: 1.3em;
    }

    .burger > p > a {
        text-decoration: none;
        color: #ec4b3d;
    }

    